@model List<PasswordModel>


@if(Model != null && Model.Any()){
    foreach (var pass in Model){
       <div class="group-template">
        <div class="name">
                <button id="group-name" onclick="editPasswordOn('@pass.Id', '@pass.Name', '@pass.Email', '@pass.UserName', '@pass.Senha')">@pass.Name</button>
        </div>
        <div class="area-edit">
        <a id="btn-exclude" class="btn-edit" asp-action="ApagarPass" asp-controller="Painel" asp-route-id="@pass.Id"><i class="fa fa-trash" id="btn-exclude"></i></a>
        </div>
        </div>

    }

}else
{
           <div class="group-template">
        <div class="name">
            <button id="group-name">Não existem senhas. Clique em "Nova Senha."</button>
        </div>
        </div>
}
